<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASEURL</key>
	<string>$(BASEURL)</string>
	<key>GOOGLE_BOOKS_API_KEY</key>
	<string>$(GOOGLE_BOOKS_API_KEY)</string>
	<key>DEV_EMAIL</key>
	<string>$(DEV_EMAIL)</string>
	<key>DEV_PASSWORD</key>
	<string>$(DEV_PASSWORD)</string>
	<key>UIAppFonts</key>
	<array>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>InstrumentSerif-Italic.ttf</string>
		<string>InstrumentSans-Regular.ttf</string>
		<string>InstrumentSans-Medium.ttf</string>
		<string>InstrumentSans-SemiBold.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>instagram-stories</string>
	</array>
</dict>
</plist>
